body {
  background-position: 0% 45%;
  background-image: url('../res/img/Fondo2.png'), linear-gradient(to top, #4B69AB 30%, #6AD5FE 50%, #FFF 70%);
  background-repeat: no-repeat;
}

.btn-guinda {
  background-color: #952F57;
  border-color: #4f152b;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-size: 0.875rem;
}

.btn-guinda:hover {
  background-color: #b33465;
  border-color: #4f152b;
}

.btn-guinda:active, .btn-guinda.active {
  background-color: #ad265a;
  border-color: #4f152b;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-guinda:disabled, .btn-guinda.disabled {
  background-color: #66273f;
  border-color: #4f152b;
}

table {
  border: 4px outset #33F;
  text-align: justify;
}

table thead {
  background: rgba(64, 133, 189, 0.7);
  font-size: 1.5em;
}

table thead th {
  text-align: center;
  padding: 5px;
}

table tr, table td, table th {
  border: 2px solid #33F;
  padding: 0 10px 0 10px;
}

table th {
  background: rgba(0,150,200,0.4);
}

table td {
  background: rgba(0,125,250,0.3);
}

table td:has(img) {
  padding: 0px;
}

.hide {
  opacity: 0;
  transition: all ease 500ms;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.car-control {
  background: rgba(30,30,30,0.1) !important;
  transition: all linear 100ms;
}

.car-control:hover {
  background: rgba(30,30,30,0.3);
}

@media (min-width: 100px) {
  .carousel-item img {
    height: 75vh;
  }
}

@font-face {
  font-family: Gloucester;
  src: url(GLECB.TTF);
}
  
.Gloucester {
    font-family: Gloucester;
}




